/* Contact Sytles */

.wufoo-container {
    height:475px;
    width: 65%;
    margin-top:25px;
}

.contact-form {
    width:100%;
    border: none;
    height:400px;
    font-family: inherit;
}

.box-shadow {
    box-shadow: 0px 8px 16px 0px rgba(4, 56, 99,0.3); /* Box Shadow */
}

.map-container {
    width:34%;
    margin-top:25px;
}

.google-map {
    height: 330px;
    width: 350px;
    border: none;
}

.map-container p {
    font-size:18px;
    margin-top: 10px;
    margin-right:10px;
}

.red {
    color: #CE2029;
    font-size:20px;
}
